body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: cadetblue;
  background-size: 200px;
  background-position: 50% -100%;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: black;
  margin: 0 0 5px;
}

.page-subtitle {
  color: rgb(102, 41, 19);
  margin-top: 5px;
}
body > img {
  margin: 0 10px;
}

img {
  max-height: 300px;
  max-width: 300px;
  margin: 10px;
}
.botao{
  margin: 20px;
  background-color: rgb(224, 134, 152);
}
